.block__main {
  padding: 2em;
}

.block__flex {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block__products_all {
  font-size: 20px;
  font-weight: 600;
}

.block__grid_14 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}

.gray__color {
  color: #9fa2b4;
}

.block__border_styles {
  border-top: 1px solid #9fa2b4;
  border-bottom: 1px solid #9fa2b4;
}

.block__grid_4 {
  grid-column: span 4;
  align-items: center;
}

.block__grid_2 {
  grid-column: span 2;
  margin-left: 40px;
}

.block__grid_3 {
  grid-column: span 3;
}

.block__goods {
  width: 100%;
  border-top: 1px solid #9fa2b4;
  border-bottom: 1px solid #9fa2b4;
}

.product__image {
  object-fit: contain;
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.transition__product {
  margin-right: 50px;
  padding: 2em;
  color: #9fa2b4;
}
