.container {
  min-height: 100%;
  display: flex;
  background: #DFE0EB;
  font-family: "Golos Text", sans-serif;
}

.page__wrapper {
  flex-grow: 1;
  margin: 35px;
  padding: 30px;
  background: #F7F8FC;
 
}

@media (max-width: 1300px) {
  .container {
    width: fit-content;
    flex-grow: 1;
  }
}
